@media (max-width: 426px) {

    /* layout and spacing */

    .button {
        padding: .5em .5em;
        margin: 2rem 0rem;
        font-size: 1.5rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100%;
    }

    footer {
        padding: 0rem 1rem;
        margin-bottom:2rem;
    }

    h1 {
        font-size: 2rem;
        padding: 0rem 0;
    }

    header {
        text-align:center;
        margin: 0rem 0;
    }

    i {
        font-size:2rem;
    }

    li {
        display: flex;
        justify-content: center;
    }

    main {
        flex: 1 0 auto;
    }

    .intro {
        font-size: 1.2rem;
        padding: 1rem 0rem 0rem 0rem;
    }

    p {
        font-size: 1rem;
    }

    #prompt {
        font-size: 1.3rem;
        padding: 0 0rem;
    }

    #socials > ul {
        padding-top: 1.5rem;
        padding: 0 .5rem;
        font-size: .5rem;
    }

    #socials {
        padding: 2rem 0rem 1rem 0rem;
    }

}

@media (min-width: 427px) and (max-width: 767px){

    .button {
        padding: 1rem 1rem;
        margin: 2rem 0rem;
        font-size: 2rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100%;
    }

    footer {
        padding: 0rem 0rem;
        margin-bottom:2rem;
    }
    
    .footerPara {
        font-size: 1.25rem;
    }

    h1 {
        font-size: 3rem;
        padding: 1.5rem 0;
    }

    i {
        font-size:3rem;
    }

    li {
        display: flex;
        justify-content: center;
    }

    main {
        flex: 1 0 auto;
    }

    .intro {
        font-size: 1.75rem;
    }

    #prompt {
        font-size: 1rem;
        padding: 0 5rem;
    }

    #socials > ul {
        padding-top: 1.5rem;
        padding: 1rem;
        font-size: 1rem;
    }

}


@media (min-width: 768px) and (max-width: 1023px){

    .button {
        padding: 1rem 1rem;
        margin: 2rem 0rem;
        font-size: 1.75rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100%;
    }

    footer {
        padding: 0rem 0rem;
        margin-bottom:2rem;
    }
    
    .footerPara {
        font-size: 1.25rem;
    }

    h1 {
        font-size: 3rem;
        padding: 1.5rem 0;
    }

    i {
        font-size:3rem;
    }

    li {
        display: flex;
        justify-content: center;
        flex-direction:row;
    }

    main {
        flex: 1 0 auto;
    }

    .intro {
        font-size: 2rem;
    }

    #prompt {
        font-size: 1.75rem;
        padding: 0 8rem;
    }

    #socials > ul {
        /* padding-top: 1.5rem; */
        padding: 0 .75rem;
        font-size: 1rem;
    }

    #socials {
        padding: 3rem 0rem 0rem 0rem;
    }
    

}

@media (min-width: 1024px) and (max-width: 1439px){

    .button {
        padding: 1.5rem 1.5rem;
        margin: 2.5rem 0rem;
        font-size: 1.75rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100%;
    }

    footer {
        padding: 0rem 0rem;
        margin-bottom:2rem;
    }
    
    .footerPara {
        font-size: 1.25rem;
    }

    h1 {
        font-size: 3rem;
        padding: 1.5rem 0;
    }

    i {
        font-size:4rem;
    }

    li {
        display: flex;
        justify-content: center;
        flex-direction:row;
    }

    main {
        flex: 1 0 auto;
    }

    .intro {
        font-size: 2rem;
    }

    #prompt {
        font-size: 2rem;
        padding: 0 15rem;
    }

    #socials > ul {
        padding-top: 1.5rem;
        padding: 0 2.25rem;
        font-size: .5rem;
    }

    #socials {
        padding: 3rem 0rem 0rem 0rem;
    }

}

@media (min-width: 1440px) and (max-width: 1800px) {

    .button {
        padding: 1.5rem 1.5rem;
        margin: 2.5rem 0rem;
        font-size: 2.5rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100%;
    }

    footer {
        padding: 0rem 0rem;
        margin-bottom:2rem;
    }
    
    .footerPara {
        font-size: 1.25rem;
    }

    h1 {
        font-size: 5rem;
        padding: 1.5rem 0;
    }

    i {
        font-size:5rem;
    }

    li {
        display: flex;
        justify-content: center;
        flex-direction:row;
    }

    main {
        flex: 1 0 auto;
    }

    .intro {
        font-size: 2.5rem;
    }

    #prompt {
        font-size: 3rem;
        padding: 0 15rem;
    }

    #socials > ul {
        padding-top: 1.5rem;
        padding: 0 2.25rem;
        font-size: 5rem;
    }

    #socials {
        padding: 4rem 0rem 0rem 0rem;
    }

}

@media (min-width: 1801px) and (max-width: 2400px) {

    .button {
        padding: 2rem 2rem;
        margin: 5rem 0rem;
        font-size: 2.5rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100%;
    }

    footer {
        padding: 4rem 0rem;
        margin-bottom:2rem;
    }
    
    .footerPara {
        font-size: 1.25rem;
    }

    h1 {
        font-size: 5.5rem;
        padding: 4rem 0;
    }

    i {
        font-size:6rem;
    }

    li {
        display: flex;
        justify-content: center;
        flex-direction:row;
    }

    main {
        flex: 1 0 auto;
    }

    .intro {
        font-size: 3rem;
    }

    #prompt {
        font-size: 2.5em;
        padding: 0 24rem;
    }

    #socials > ul {
        padding-top: 1.5rem;
        padding: 0 2.25rem;
        font-size: 2rem;
    }

    #socials {
        padding: 5rem 0rem 0rem 0rem;
    }

}

@media (min-width: 2401px) and (max-width: 2561px) {

    .button {
        padding: 2rem 4rem;
        margin: 5rem 0rem;
        font-size: 4rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100%;
    }

    footer {
        padding: 4rem 0rem;
        margin-bottom:2rem;
    }
    
    .footerPara {
        font-size: 1.25rem;
    }

    header {
        padding: 1rem 0rem 0rem 0rem;
    }

    h1 {
        font-size: 10rem;
        padding: 4rem 0;
    }

    i {
        font-size:8rem;
    }

    li {
        display: flex;
        justify-content: center;
        flex-direction:row;
    }

    main {
        flex: 1 0 auto;
    }

    .intro {
        font-size: 5rem;
    }

    #prompt {
        font-size: 4em;
        padding: 0 24rem;
    }

    #socials > ul {
        padding-top: 1.5rem;
        padding: 0 2.25rem;
        font-size: rem;
    }

    #socials {
        padding: 5rem 0rem 0rem 0rem;
    }

}